/**
 * @file
 * Visual styles for fields.
 */

@import "../base/variables.pcss.css";

.field:not(:last-child) {
  margin-bottom: var(--sp2);
}

.field__label {
  font-weight: bold;
}

.field--label-inline .field__label,
.field--label-inline .field__items {
  float: left;
}

.field--label-inline .field__label,
.field--label-inline > .field__item,
.field--label-inline .field__items {
  padding-right: 0.5em;
}

.field--label-inline .field__label::after {
  content: ":";
}
