/**
 * @file
 * Links component.
 */

@import "../base/variables.pcss.css";

.links.inline {
  margin-left: 0;
  padding: 0;
  list-style: none;

  > * {
    display: inline;

    &:not(:last-child) {
      padding-right: 1em;
    }
  }

  .node--type-book & {
    @media (--md) {
      text-align: right;
    }
  }
}
